DirectoryIndex index.php
RewriteEngine On

#################################

RewriteBase /

Options +FollowSymLinks
Options All -Indexes

ErrorDocument 403 /index.php

DefaultLanguage ru
AddDefaultCharset utf-8

# Rewrites | START #

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

<Files ~ "\.tpl$"> 
Order allow,deny 
Deny from all 
</Files>